{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class="featured section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="custom section-heading">
                    <h6>| Edit Profile</h6>
                    <h2>Update Your Information</h2>
                </div>
                <form method="post" class="custom-form" action="{% url 'profile_edit' %}">
                    {% csrf_token %}
                    
                    {% if error %}
                    <p style="color:red">{{ error }}</p>
                    {% endif %}
                    
                    <div class="input-group">
                        <label for="first_name">Name</label>
                        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{ user.email }}" required>
                    </div>
                    <div class="input-group">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" value="{{ profile.phone }}">
                    </div>
                    <div class="input-group">
                        <label for="about">About Me</label>
                        <textarea type="text" id="about" name="about" value="">{{ profile.about }}</textarea>
                    </div>
                    <button type="submit">Update Profile</button>
                    <a href="{% url 'profile' %}" class="cancel-button">cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}