{% extends "layout/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
{% endblock %}

{% block content %}
<div class="featured section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-image">

                    {% if profile.avatar %}
                    <img class="img-upload-trigger" id="profile-pic" src="{{ profile.avatar.url }}" alt="Profile picture">
                    {% else %}
                    <img class="img-upload-trigger" src="{% static 'assets/images/featured.jpg' %}" alt="">
                    {% endif %}
                    <a href="#" class="img-upload-trigger">
                        <img src="{% static 'assets/images/featured-icon.png' %}" alt=""
                            style="max-width: 60px; padding: 0px;">
                    </a>
                </div>
                <input type="file" id="uploadImage" accept="image/*" hidden >

                <div class="modal fade" id="cropModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Crop Image</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                    
                            </div>
                            <div class="modal-body text-center">
                                <img id="imagePreview" style="max-width:100%;" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cropAndUpload" class="btn btn-primary">Crop & Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>| Name</h6>
                    <h2>{{ user.first_name }}</h2>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                About Me
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {{profile.about}}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Contact
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Email: {{user.email}} <br>
                                Phone: {{profile.phone}} <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info-table">
                    <ul>
                        <li class="profile-nav">
                            <a href="{% url 'front_list_project' %}">
                                <img src="{% static 'assets/images/info-icon-01.png' %}" alt=""
                                    style="max-width: 52px;">
                                <div class="main">Project</div>
                                <div class="sub">Create</div>
                            </a>
                        </li>
                        <li class="profile-nav">
                            <a href="{% url 'profile_edit' %}">
                                <img src="{% static 'assets/images/info-icon-02.png' %}" alt=""
                                    style="max-width: 52px;">
                                <div class="main">Profile</div>
                                <div class="sub">Edit</div>
                            </a>
                        </li>
                        <li class="profile-nav">
                            <a href="{% url 'security_edit' %}">
                                <img src="{% static 'assets/images/info-icon-03.png' %}" alt=""
                                    style="max-width: 52px;">
                                <div class="main">Security</div>
                                <div class="sub">Password</div>
                            </a>
                        </li>
                        <li class="profile-nav">
                            <a href="{% url 'front_list_visit' %}">
                                <img src="{% static 'assets/images/info-icon-01.png' %}" alt=""
                                    style="max-width: 52px;">
                                <div class="main">Visit</div>
                                <div class="sub">Project</div>
                            </a>
                        </li>
                        <li class="profile-nav">
                            <a href="{% url 'logout' %}">
                                <img src="{% static 'assets/images/info-icon-04.png' %}" alt=""
                                    style="max-width: 52px;">
                                <div class="main">Logout</div>
                                <div class="sub">Safely Logout</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<script src="{% static 'assets/js/avatar-upload.js' %}"></script>
{% endblock %}