{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
  <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'assets/css/simple.css' %}">

</head>
<body>
  <div class="login-container">
    <form class="login-box" method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <h2>Register</h2>
      <p>Have an account? <a href="{% url 'login' %}">Log in now</a></p>
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Sign Up</button>

      <p class="my-2">Go back to <a href="{% url 'home' %}">home</a></p>

    </form>
  </div>
</body>
</html>
