.profile-nav a {
    color: black;

}

.profile-nav a .main {
    font-weight: 600;
    font-size: 1.3rem;
}

.profile-nav a .sub {
    font-size: .8rem;
    color: #999;
    font-weight: normal;
}

.custom.section-heading {
    margin-left: 0px;
}

.custom-form input {
    border: 1px solid #f35525;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.custom-form select {
    border: 1px solid #e33434;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.custom-form textarea {
    display: block;
    border: 1px solid #f35525;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 12rem;
}


.custom-form select {
    border: 1px solid #f35525;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.custom-form button {
    background-color: #f35525;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    margin-left: 1rem;
    border: 1px solid #f35525;

    background-color: #f0f0f0;
    color: black;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;

}


/* Round button */
.round-btn {
    position: fixed;
    /* Sticks to viewport */
    bottom: 20px;
    /* Distance from bottom */
    right: 20px;
    /* Distance from right */
    width: 60px;
    /* Button size */
    height: 60px;
    border-radius: 50%;
    /* Makes it round */
    background-color: #e33434;
    /* Blue color */
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    /* Icon/text size */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Small shadow */
    transition: background 0.3s ease;
}

.round-btn:hover {
    background-color: #ef5353;
    /* Darker blue on hover */
}

/* Round button end */


.main-image {
    height: 20rem;
    overflow: hidden;
}