.profile-nav a {
    color: black;

}

.profile-nav a .main {
    font-weight: 600;
    font-size: 1.3rem;
}

.profile-nav a .sub {
    font-size: .8rem;
    color: #999;
    font-weight: normal;
}

.custom.section-heading {
    margin-left: 0px;
}

.custom-form input {
    border: 1px solid #f35525;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.custom-form textarea {
    display: block;
    border: 1px solid #f35525;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 12rem;
}


.custom-form select {
    border: 1px solid #f35525;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.custom-form button {
    background-color: #f35525;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    margin-left: 1rem;
    border: 1px solid #f35525;

    background-color: #f0f0f0;
    color: black;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;

}

.custom-form label {
    display: hidden;
}

.custom-form img.img-upload-trigger {
    width: 50px;
}

/* Plus icon start */
.plus-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f35525;
    color: white;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.plus-icon:hover {
    background-color: #0056b3;
}

/* Plus icon end */